*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* estilos de navegacion */

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background: black;
}

.nav-brand{
    width: 50px;
}

/* navegacion izquierda */
.nav-main ul {
    display: flex;

}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 4px;
}

.nav-main img{
    margin: 0 5px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid white;
    opacity: 0.6;
}

.nav-main ul.nav-menu{
    flex:1;
    margin: auto;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    display: block;
    z-index: 2;
    display: none;
    font-size: 1.5rem;
    
}

/* SHOWCASE */
hr{
    margin: 10px 0;
}
.showcase{
    width: 100%;
    height: 550px;
    background: url(../img/segunda.jpg)no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border-top: 1px  solid;
    border-bottom: 1px  solid;
    margin: 10px 0;
    border-radius: 10px;
}

.btn:hover{
    opacity: 0.6;

}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/* NEWS CARS */

.news-cars{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cars img{
    width: 100%;
    height: 180px;
}

.news-cars h3{
    font-size: 20px;
    margin: 10px 0;

}

.news-cars a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cars a:hover{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

/* CARS BANNER ONE */
.cars-banner-one{
    width:100%;
    height: 350px;
    background: url(../img/Loading.gif)no-repeat center center/cover;
    margin-bottom: 40px;
    align-content: center;
}

.cars-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
}
.cars-banner-one p,
.cars-banner-one h2{
    margin: 10px 0 20px 0;
    

}


/* SOCIAL */

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}


.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer{
    text-align: center;
    background: #2f3640;
    color: #616161;
    font-size: 20px;
    padding: 20px 0;
    padding-bottom: 20px;
}

@media(max-width:700px){
    
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 400px;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
        
        
    }
    
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
        margin: auto;
    }

    .nav-main ul.nav-menu-right{
        margin-right: 50px;
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }

    .news-cars{
        grid-template-columns: repeat(2, 1fr);
    }

    .cars-banner-one .content{
        width: 80%;
    }

    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
    

   .showcase{
        width: auto;
        height: auto;
        
   }
   
    
}

@media(max-width:500px){
    
    .showcase{
        width: 100%;
        height: 100%;    
    }

    .news-cars{
        grid-template-columns: repeat(1, 1fr);
    }
    .news-cars img{
        height: 270px;
    }

    .cars-banner-one .content{
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }
}